@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    margin-top: 20px;
    border: solid 2px;
    color: #101820;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://cdn.betterttv.net/emote/618688bb1f8ff7628e6cafda/3x.webp) no-repeat;
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    display: flex;
}

.logo {
    font-size: 2em;
    color: black;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    background: black;
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -6px;
    transform-origin: center;
    transform: scaleX(0);
    transition: 0.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transition: 0.5s;
    transform-origin: initial;
}

.navigation .btnLogin {
    width: 130px;
    height: 50px;
    background: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 200px;
    cursor: pointer;
    font-size: 1.1em;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin:hover {
    background: black;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    transition: .5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.wrapper {
    width: 420px;
    background: transparent;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(0px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transition: 0.5s;
}

.wrapper:hover {
    transform: scale(1.1);
    backdrop-filter: blur(20px);
    transition: 1s;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    transition: 0.5s;
}

.wrapper .btn:hover {
    transform: scale(1.1);
    background-color: black;
    color: white;
    transition: 0.5s;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}

.register-link p a:hover {
    text-decoration: underline;
}

.wrapper .remember-forgot .check:hover {
    transform: scale(1.1);
}